﻿@model DataAccessLibrary.Models.Meteorologia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Meteorologia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Local.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_de_leitura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_de_leitura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_de_leitura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_de_leitura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Humidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Humidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pressao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pressao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Co2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Co2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MeteorologiaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
