<strong>Module:</strong>
Percurso &raquo;
<strong>Controller:</strong>
Percurso &raquo;
<strong>Action:</strong>
index

<?php
// module/Percurso/view/percurso/index.phtml:
$title = 'Percurso';
$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
	<a href="<?php echo $this->url('percurso', array('action'=>'add'));?>">Novo
		percurso</a>
</p>
<table class="table">
	<tr>
		<th>Descri&ccedil;&atilde;o</th>
		<th>Data</th>
		<th>Turista</th>
		<th>&nbsp;</th>
	</tr>
	<?php foreach ($percursos as $percurso) : ?>
	<tr>
		<td><?php echo $this->escapeHtml($percurso->descricao);?></td>
		<td><?php echo $this->escapeHtml($percurso->data);?></td>
		<td><?php echo $this->escapeHtml($percurso->idTurista);?></td>
		<td><a
			href="<?php
    
    echo $this->url('percurso', array(
        'action' => 'edit',
        'id' => $percurso->idPercurso
    ));
    ?>">Editar</a> | <a
			href="<?php
    
    echo $this->url('percurso', array(
        'action' => 'delete',
        'id' => $percurso->idPercurso
    ));
    ?>">Apagar</a></td>
	</tr>
<?php endforeach; ?>
</table>