﻿@model List<DataAccessLibrary.Models.Meteorologia>

@{
    ViewBag.Title = "IndexFiltro";
}

<h2>IndexFiltro</h2>

<table class="table">
    <tr>
        <th>
            Data de Leitura
        </th>
        <th>
            Hora de Leitura
        </th>
        <th>
            Local
        </th>
        <th>
            Temperatura
        </th>
        <th>
            Vento
        </th>
        <th>
            Humidade
        </th>
        <th>
            Press&atilde;o
        </th>
        <th>
            NO
        </th>
        <th>
            NO2
        </th>
        <th>
            CO2
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data_de_leitura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_de_leitura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pressao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Co2)
            </td>
        </tr>
    }
</table>

