﻿@model IEnumerable<DataAccessLibrary.Models.Meteorologia>

@{
    ViewBag.Title = "Visita";
}

<h2>Visita</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data_de_leitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_de_leitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Humidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pressao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.No2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Co2)
        </th>
        <th></th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data_de_leitura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora_de_leitura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pressao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Co2)
            </td>
        </tr>
    }
</table>



