<strong>Module:</strong>
Turista &raquo;
<strong>Controller:</strong>
Turista &raquo;
<strong>Action:</strong>
index

<?php
// module/Turista/view/turista/index.phtml:
$title = 'Turista';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
	<a href="<?php echo $this->url('turista', array('action'=>'add'));?>">Novo
		turista</a>
</p>
<table class="table">
	<tr>
		<th>Nome</th>
		<th>Nacionalidade</th>
		<th>Email</th>
		<th>&nbsp;</th>
	</tr>
<?php foreach ($turistas as $turista) : ?>
<tr>
		<td><?php echo $this->escapeHtml($turista->nome);?></td>
		<td><?php echo $this->escapeHtml($turista->nacionalidade);?></td>
		<td><?php echo $this->escapeHtml($turista->email);?></td>
		<td><a
			href="<?php
    
    echo $this->url('turista', array(
        'action' => 'edit',
        'id' => $turista->idTurista
    ));
    ?>">Editar</a> | <a
			href="<?php
    
    echo $this->url('turista', array(
        'action' => 'delete',
        'id' => $turista->idTurista
    ));
    ?>">Apagar</a></td>
	</tr>
<?php endforeach; ?>
</table>
