﻿@model IEnumerable<DataAccessLibrary.Models.Poi>

@{
    ViewBag.Title = "POI";
}

<h2>POI</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Local.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Local.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PoiId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.PoiId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.PoiId })
        </td>
    </tr>
}

</table>
