<strong>Module:</strong>
Passagem &raquo;
<strong>Controller:</strong>
Passagem &raquo;
<strong>Action:</strong>
edit
<?php
$title = 'Editar passagem';
$this->headTitle($title);
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php
$form = $this->form;
$form->setAttribute('action', $this->url('passagem', array(
    'action' => 'edit',
    'id' => $this->id
)));
$form->prepare();
echo $this->form()->openTag($form);
echo $this->formHidden($form->get('idPassagem'));
echo $this->formRow($form->get('nome'));
echo $this->formRow($form->get('descricao'));
echo $this->formRow($form->get('gps_lat'));
echo $this->formRow($form->get('gps_long'));
echo $this->formRow($form->get('idPercurso'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();
