<strong>Module:</strong>
Passagem &raquo;
<strong>Controller:</strong>
Passagem &raquo;
<strong>Action:</strong>
index

<?php
// module/Passagem/view/passagem/index.phtml:
$title = 'Passagem';
$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>
<p>
	<a href="<?php echo $this->url('passagem', array('action'=>'add'));?>">Nova
		passagem</a>
</p>

<table class="table">
	<tr>
		<th>Nome</th>
		<th>Descri&ccedil;&atilde;o</th>
		<th>GPS Latitude</th>
		<th>GPS Longitude</th>
		<th>Percurso</th>
		<th>&nbsp;</th>
	</tr>
	<?php foreach ($passagens as $passagem) : ?>
	<tr>
		<td><?php echo $this->escapeHtml($passagem->nome);?></td>
		<td><?php echo $this->escapeHtml($passagem->descricao);?></td>
		<td><?php echo $this->escapeHtml($passagem->gps_lat);?></td>
		<td><?php echo $this->escapeHtml($passagem->gps_long);?></td>
		<td><?php echo $this->escapeHtml($passagem->idPercurso);?></td>
		<td><a
			href="<?php
    
    echo $this->url('passagem', array(
        'action' => 'edit',
        'id' => $passagem->idPassagem
    ));
    ?>">Editar</a> | <a
			href="<?php
    
    echo $this->url('passagem', array(
        'action' => 'delete',
        'id' => $passagem->idPassagem
    ));
    ?>">Apagar</a></td>
	</tr>
<?php endforeach; ?>
</table>