<div class="jumbotron">
	<h1><?php echo sprintf($this->translate('Bem-vindo ao %sTukPorto%s'), '<span class="zf-green">', '</span>') ?></h1>
	<p>
		<a class="btn btn-success btn-lg"
			href="<?php echo $this->url('turista', array('action'=>'login'));?>"
			target="_blank"><?php echo $this->translate('Iniciar se&ccedil;&atilde;o') ?> &raquo;</a>
	</p>
</div>