﻿@model IEnumerable<DataAccessLibrary.Models.Local>

@{
    ViewBag.Title = "Local";
}

<h2>Local</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GPS_Lat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPS_Long)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GPS_Lat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GPS_Long)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.LocalId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.LocalId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.LocalId })
        </td>
    </tr>
}

</table>
